body{
background-image:url("design3.png");
}
#pk{
height:500px;
width:400px;
background-image:url("design5.jpg");
background-position:center;
text-align:center;
margin:40px auto;
}
#cen{
text-align:center;
margin:40px auto;
padding-top:50px;
}
#col{
background:transparent;
font:lime;
text-align:center;
border-radius:5px;
padding-top:10px;
margin-top:10px;
border:2px solid khaki;
color:lime;
}
::placeholder{
color:lime;
}
a{
color:tan;
}
#spc{
background-color:powderblue;
border-radius:5px;
border-color:aqua;
}